body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.vehiclesAttr {
  background-color: aquamarine;
  width: 120px;
 }

 #vehiclesForm {
  background-color: blueviolet;
  width: 365px;
  font-size: medium;
  text-align: center;
}

h1{
  color: yellow;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
